name: Redhat Build and Package Release
run-name: rocprofiler-visualizer-release-redhat-build-package

on:
  workflow_dispatch:
  repository_dispatch:
      types: [trigger-release-build]
  
defaults:
  run:
    shell: bash

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  VISUALIZER_FILE_NAME: "roc-optiq"

jobs:
  rocky-linux:
    runs-on: ubuntu-latest
    container:
        image: rockylinux/rockylinux:${{ matrix.os-release }}
    name: RockyLinux ${{ matrix.os-release }} • Build Visualizer
    strategy:
      fail-fast: false
      matrix:
          os-release: [ '9', '10' ]
          vulkan-sdk: [ '1.4.328.1' ]

    steps:
      - name: Install Dependencies
        run: |
            dnf groupinstall -y "Development Tools"
            dnf install -y epel-release && crb enable
            dnf install -y cmake libxkbcommon-devel mesa-libGL-devel ncurses-devel ninja-build wayland-devel wget
            dnf install -y libX11-devel libXcursor-devel libXi-devel libXinerama-devel libXrandr-devel dbus-devel
            echo "✅ Dependencies Installed!"
      - name: Install Vulkan SDK
        run: |
            mkdir -p /opt/vulkan
            wget -q https://sdk.lunarg.com/sdk/download/${{ matrix.vulkan-sdk }}/linux/vulkansdk-linux-x86_64-${{ matrix.vulkan-sdk }}.tar.xz -O /tmp/vulkansdk.tar.xz
            tar -xf /tmp/vulkansdk.tar.xz -C /opt/vulkan
            echo "✅ Vulkan SDK Installed!"
      - uses: actions/checkout@v5
        with:
          ref: ${{ github.event.client_payload.ref || github.ref }}
          submodules: true

      - name: Build, Make, and Verify Installation
        run: |
          source /opt/vulkan/${{ matrix.vulkan-sdk }}/setup-env.sh
          mkdir build
          cmake -B build/linux-release --preset "linux-release"
          cmake --build build/linux-release --preset "Linux Release Build" --parallel 4 --target package
          if [ -e build/linux-release/${{ env.VISUALIZER_FILE_NAME }} ]; then
            echo "✅ {{ env.VISUALIZER_FILE_NAME }} has been successfully built!"
          else
            echo "❌ {{ env.VISUALIZER_FILE_NAME }} was not built!"
            exit 1
          fi
      - name: List build artifacts
        run: ls -la build/linux-release          
      - name: Upload Visualizer Binary
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.VISUALIZER_FILE_NAME }}-rocky-${{ matrix.os-release }}
          path: |
            build/linux-release/${{ env.VISUALIZER_FILE_NAME }}
            build/linux-release/*.deb
            build/linux-release/*.gz
            build/linux-release/*.rpm
          retention-days: 2 # Retain artifact for 2 days

      - name: Publish GitHub Release
        if: ${{ github.event.client_payload.publish_release == 'true' }}
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.event.client_payload.release_tag }}
          files: |
            build/linux-release/${{ env.VISUALIZER_FILE_NAME }}
            build/linux-release/*.deb
            build/linux-release/*.gz
            build/linux-release/*.rpm
          make_latest: true