name: Redhat Build and Package Release
run-name: ${{ github.workflow }} • ${{ github.event.client_payload.enable_symbols == 'true' && 'with symbols' || 'release' }}

on:
  workflow_dispatch:
  repository_dispatch:
      types: [trigger-release-build]
  
defaults:
  run:
    shell: bash

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  VISUALIZER_FILE_NAME: "roc-optiq"
  PRESET_CONFIG: ${{ github.event.client_payload.enable_symbols == 'true' && 'linux-release-symbols' || 'linux-release' }}
  PRESET_BUILD: ${{ github.event.client_payload.enable_symbols == 'true' && 'Linux Release Build with Symbols' || 'Linux Release Build' }}
  BUILD_DIR: ${{ github.event.client_payload.enable_symbols == 'true' && 'build/linux-release-symbols' || 'build/linux-release' }}
  ENABLE_INTERNAL_BANNER: ${{ github.event.client_payload.enable_internal_banner == 'true' && 'ON' || 'OFF' }}

jobs:
  rocky-linux:
    runs-on: ubuntu-latest
    container:
        image: rockylinux/rockylinux:${{ matrix.os-release }}
    name: RockyLinux ${{ matrix.os-release }} • Build Visualizer
    strategy:
      fail-fast: false
      matrix:
          os-release: [ '9', '10' ]
          vulkan-sdk: [ '1.4.328.1' ]
    env:
      ARTIFACT_NAME: roc-optiq-rocky-${{ matrix.os-release }}-${{ github.event.client_payload.enable_symbols == 'true' && 'release-symbols' || 'release' }}

    steps:
      - name: Print Workflow Inputs
        run: |
          echo "Target Ref: ${{ github.event.client_payload.ref || github.ref }}"

      - name: Print Build Configuration
        run: |
          echo "PRESET_CONFIG: ${{ env.PRESET_CONFIG }}"
          echo "PRESET_BUILD: ${{ env.PRESET_BUILD }}"
          echo "BUILD_DIR: ${{ env.BUILD_DIR }}"
          echo "ARTIFACT_NAME: ${{ env.ARTIFACT_NAME }}"
          echo "ENABLE_INTERNAL_BANNER: ${{ env.ENABLE_INTERNAL_BANNER }}"

      - name: Install Dependencies
        run: |
            dnf groupinstall -y "Development Tools"
            dnf install -y epel-release && crb enable
            dnf install -y cmake libxkbcommon-devel mesa-libGL-devel ncurses-devel ninja-build wayland-devel wget
            dnf install -y libX11-devel libXcursor-devel libXi-devel libXinerama-devel libXrandr-devel dbus-devel
            echo "✅ Dependencies Installed!"
      - name: Install Vulkan SDK
        run: |
            mkdir -p /opt/vulkan
            wget -q https://sdk.lunarg.com/sdk/download/${{ matrix.vulkan-sdk }}/linux/vulkansdk-linux-x86_64-${{ matrix.vulkan-sdk }}.tar.xz -O /tmp/vulkansdk.tar.xz
            tar -xf /tmp/vulkansdk.tar.xz -C /opt/vulkan
            echo "✅ Vulkan SDK Installed!"
      - uses: actions/checkout@v5
        with:
          ref: ${{ github.event.client_payload.ref || github.ref }}
          submodules: true

      - name: Build, Make, and Verify Installation
        run: |
          source /opt/vulkan/${{ matrix.vulkan-sdk }}/setup-env.sh
          
          mkdir -p ${{ env.BUILD_DIR }}
          cmake -B ${{ env.BUILD_DIR }} --preset "${{ env.PRESET_CONFIG }}" -DROCPROFVIS_ENABLE_INTERNAL_BANNER=${{ env.ENABLE_INTERNAL_BANNER }}
          cmake --build ${{ env.BUILD_DIR }} --preset "${{ env.PRESET_BUILD }}" --parallel 4 --target package
          
          if [ -e ${{ env.BUILD_DIR }}/${{ env.VISUALIZER_FILE_NAME }} ]; then
            echo "✅ ${{ env.VISUALIZER_FILE_NAME }} has been successfully built!"
          else
            echo "❌ ${{ env.VISUALIZER_FILE_NAME }} was not built!"
            exit 1
          fi

      - name: List build artifacts
        run: |
          ls -la ${{ env.BUILD_DIR }}

      - name: Upload Visualizer Binary
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.ARTIFACT_NAME }}
          path: |
            ${{ env.BUILD_DIR }}/${{ env.VISUALIZER_FILE_NAME }}
            ${{ env.BUILD_DIR }}/*.deb
            ${{ env.BUILD_DIR }}/*.gz
            ${{ env.BUILD_DIR }}/*.rpm
          retention-days: 2 # Retain artifact for 2 days