name: Redhat Continuous Integration
run-name: rocprofiler-visualizer-redhat-ci

on:
  schedule:
    - cron: '0 4 * * *'
  push:
    branches:
      - main
    paths-ignore:
      - 'doc/**'
      - '*.md'
  pull_request:
    paths-ignore:
      - 'doc/**'
      - '*.md'

defaults:
  run:
    shell: bash

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  VISUALIZER_FILE_NAME: "roc-optiq"

jobs:
  set-matrix:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set.outputs.matrix }}
    steps:
      - id: set
        run: |
          if [ "${{ github.event_name }}" = "schedule" ]; then
            # Full matrix for the 'schedule' event
            echo "matrix={\"os-release\":[\"9\", \"10\"], \"vulkan-sdk\":[\"1.4.328.1\"]}" >> "$GITHUB_OUTPUT"
          else
            # Limited matrix for other events (push, pull_request)
            echo "matrix={\"os-release\":[\"10\"], \"vulkan-sdk\":[\"1.4.328.1\"]}" >> "$GITHUB_OUTPUT"
          fi

  rocky-linux:
    needs: [set-matrix]
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.set-matrix.outputs.matrix) }}
      # matrix:
      #     os-release: [ '9', '10' ]
      #     vulkan-sdk: [ '1.4.328.1' ]
    runs-on: ubuntu-latest
    container:
        image: rockylinux/rockylinux:${{ matrix.os-release }}
    name: RockyLinux ${{ matrix.os-release }} • Build Visualizer

    steps:
      - name: Install Dependencies
        run: |
            dnf groupinstall -y "Development Tools"
            dnf install -y epel-release && crb enable
            dnf install -y cmake libxkbcommon-devel mesa-libGL-devel ncurses-devel ninja-build wayland-devel wget
            dnf install -y libX11-devel libXcursor-devel libXi-devel libXinerama-devel libXrandr-devel dbus-devel
            echo "✅ Dependencies Installed!"

      - name: Install Vulkan SDK
        run: |
            mkdir -p /opt/vulkan
            wget -q https://sdk.lunarg.com/sdk/download/${{ matrix.vulkan-sdk }}/linux/vulkansdk-linux-x86_64-${{ matrix.vulkan-sdk }}.tar.xz -O /tmp/vulkansdk.tar.xz
            tar -xf /tmp/vulkansdk.tar.xz -C /opt/vulkan
            echo "✅ Vulkan SDK Installed!"

      - uses: actions/checkout@v5
        with:
          submodules: true

      - name: Build, Make, and Verify Installation
        run: |
          source /opt/vulkan/${{ matrix.vulkan-sdk }}/setup-env.sh
          cmake -B build --install-prefix /opt/rocprofiler-visualizer
          cmake --build build --parallel 4
          if [ -e build/${{ env.VISUALIZER_FILE_NAME }} ]; then
            echo "✅ ${{ env.VISUALIZER_FILE_NAME }} has been successfully built!"
          else
            echo "❌ ${{ env.VISUALIZER_FILE_NAME }} was not built!"
            exit 1
          fi
