name: Redhat Continuous Integration
run-name: rocprofiler-visualizer-redhad-ci

on:
  schedule:
    - cron: '0 4 * * *'
  push:
    branches:
      - main
    paths-ignore:
      - 'doc/**'
      - '*.md'
  pull_request:
    paths-ignore:
      - 'doc/**'
      - '*.md'

env:
  VISUALIZER_FILE_NAME: "rocprof-visualizer"

jobs:
  rocky-linux:
    runs-on: ubuntu-latest
    container:
        image: rockylinux:8
    name: RockyLinux ${{ matrix.os-release }} • Build Visualizer
    strategy:
      matrix:
          os-release: [ 8, 9 ]
          vulkan-sdk: [ 1.4.328.0 ]

    steps:
      - name: Install Dependencies
        run: |
            dnf groupinstall -y "Development Tools"
            dnf install -y epel-release && crb enable
            dnf install -y cmake libxkbcommon-devel ninja-build wayland-devel wget
            dnf install -y libX11-devel libXi-devel libXinerama-devel libXrandr-devel xcb-util-cursor-devel
            echo "✅ Dependencies Installed!"

      - name: Install Vulkan SDK
        run: |
            mkdir -p /opt/vulkan
            wget -q https://sdk.lunarg.com/sdk/download/${{ matrix.vulkan-sdk }}/linux/vulkansdk-linux-x86_64-${{ matrix.vulkan-sdk }}.tar.xz -O /opt/vulkan/vulkansdk.tar.xz
            cd /opt/vulkan
            tar xf vulkansdk.tar.xz
            echo "✅ Vulkan SDK Installed!"

      - uses: actions/checkout@v5
        with:
          submodules: true

      - name: Build, Make, and Verify Installation
        run: |
          source /opt/vulkan/${{ matrix.vulkan-sdk }}/setup-env.sh
          cmake -B build
          cmake --build build
          if [ -e build/${{ env.VISUALIZER_FILE_NAME }} ]; then
            echo "✅ {{ env.VISUALIZER_FILE_NAME }} has been successfully built!"
          else
            echo "❌ {{ env.VISUALIZER_FILE_NAME }} was not built!"
            exit 1
          fi
