name: Ubuntu Continuous Integration
run-name: rocprofiler-visualizer-ubuntu-ci

on:
  schedule:
    - cron: '0 4 * * *'
  push:
    branches:
      - main
    paths-ignore:
      - 'doc/**'
      - '*.md'
  pull_request:
    paths-ignore:
      - 'doc/**'
      - '*.md'

defaults:
  run:
    shell: bash

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  VISUALIZER_FILE_NAME: "rocprof-visualizer"

jobs:
  ubuntu:
    name: Ubuntu ${{ matrix.os-release }} • Build Visualizer
    strategy:
      fail-fast: false
      matrix:
        os-release: [ '22.04', '24.04' ]
        vulkan-sdk: [ '1.4.328.1' ]

    runs-on: ubuntu-latest
    container:
        image: ubuntu:${{ matrix.os-release }}

    steps:
      - name: Install Dependencies
        run: |
          apt update -y
          apt install -y build-essential cmake git libncurses-dev libwayland-dev \
            libx11-dev libxcursor-dev libxi-dev libxinerama-dev libxkbcommon-dev \
            libxrandr-dev pkg-config wget xorg-dev
          echo "✅ Dependencies Installed!"

      - name: Install Vulkan SDK
        run: |
          mkdir -p /opt/vulkan
          wget -q https://sdk.lunarg.com/sdk/download/${{ matrix.vulkan-sdk }}/linux/vulkansdk-linux-x86_64-${{ matrix.vulkan-sdk }}.tar.xz -O /tmp/vulkansdk.tar.xz
          tar -xJvf /tmp/vulkansdk.tar.xz -C /opt/vulkan
          echo "✅ Vulkan SDK Installed!"

      - uses: actions/checkout@v5
        with:
          submodules: true

      - name: Build, Make, and Verify Installation
        run: |
          source /opt/vulkan/${{ matrix.vulkan-sdk }}/setup-env.sh
          cmake -B build --install-prefix /opt/rocprofiler-visualizer
          cmake --build build --parallel 4
          if [ -e build/${{ env.VISUALIZER_FILE_NAME }} ]; then
            echo "✅ {{ env.VISUALIZER_FILE_NAME }} has been successfully built!"
          else
            echo "❌ {{ env.VISUALIZER_FILE_NAME }} was not built!"
            exit 1
          fi
